services:
  rest-server-source:
    image: restic/rest-server:latest
    ports:
      - "8000:8000"
    environment:
      - DISABLE_AUTHENTICATION=1
    volumes:
      - source-data:/data

  rest-server-dest:
    image: restic/rest-server:latest
    ports:
      - "8001:8000"
    environment:
      - DISABLE_AUTHENTICATION=1
    volumes:
      - dest-data:/data

  sync:
    build: .
    environment:
      - REST_SYNC_SOURCE=http://rest-server-source:8000/
      - REST_SYNC_DEST=http://rest-server-dest:8000/
      # Runs every 5 seconds for testing purposes
      - REST_SYNC_CRON=1/5 * * * * *
    depends_on:
      - rest-server-source
      - rest-server-dest

volumes:
  source-data:
  dest-data:
